.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
  padding: 20px;
}

.logo img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border: 3px solid #43341a;
  background-color: #ffffff;
}

.heading {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #000000;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #43341a;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.loginButton,
.registerButton {
  margin-top: 0.5rem;
  width: 100px;
  height: 2rem;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.loginButton {
  background-color: #a2c5cb;
  color: #000000;
}

.registerButton {
  background-color: #b8a88e;
  color: #000000;
}

.loginButton:hover,
.registerButton:hover {
  opacity: 0.9;
}
.loginButtonDisabled {
  background-color: #d3d3d3; /* Lighter color for disabled state */
  color: #7a7a7a; /* Gray color for disabled text */
  cursor: not-allowed; /* Change cursor to indicate disabled */
}

.errorPopup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .formContainer {
    width: 80%;
    padding: 20px;
  }

  .heading {
    font-size: 14px;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 10px;
  }

  .loginButton,
  .registerButton {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .formContainer {
    width: 90%;
    padding: 15px;
  }

  .heading {
    font-size: 14px;
  }

  .inputField {
    padding: 8px;
  }

  .buttonContainer {
    gap: 8px;
  }

  .loginButton,
  .registerButton {
    height: 2.5rem;
    font-size: 14px;
  }
}
